# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Aula-03/Aula03/nbproject/private/
/Aula-03/Aula03/build/
/Aula-03/Aula3.2/Aula3.2/nbproject/private/
/Aula-03/Aula3.2/Aula3.2/build/
/Aula-04/Aula03/nbproject/private/
/Aula04/Aula04/nbproject/private/
/Aula04/Aula04/build/
