/Aula-05/Aula-05-Projeto da aula/WebApplication1/nbproject/private/
/Aula-05/Aula-05-Projeto da aula/WebApplication1/build/
/Aula-05/Aula-5.2-Tarefa/Aula-5.2/nbproject/private/
/Aula-05/Aula-5.2-Tarefa/Aula-5.2/build/
/Aula-05/Aula-5.2-Tarefa/Aula-06/nbproject/private/
/Aula-06/Aula-06-Projeto da aula/Aula-06/nbproject/private/
/Aula-06/Aula-6.2-Tarefa/Aula-6.2/nbproject/private/
/Aula-06/Aula-6.2-Tarefa/Aula-6.2/build/
/Aula-06/Aula-06-Projeto da aula/Aula-06/build/
/Aula-07/Aula-07-Projeto da aula/Aula-07/nbproject/private/
/Aula-07/Aula-07-Projeto da aula/Aula-07/build/
/Aula-07/Aula-07-Projeto da aula/Aula-07Session/nbproject/private/
/Aula-07/Aula-07-Tarefa/Aula-7.2/nbproject/private/
/Aula-07/Aula-07-Tarefa/Aula-7.2/build/
/Prova-P1/Prova/nbproject/private/
/Prova-P1/Prova/build/
/Prova-P1/prova/nbproject/private/
/Prova-P1/prova/build/
